// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #fff;
}

* {
    font-family: "Montserrat", sans-serif;
}
// hide ugly scrollbar
::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}
